In [1]:
#string input using input()

name = input("Enter name: ")
print(name)

Enter name: Stark
Stark

In [2]:
#integer input

val = int(input("Enter value: "))
print(val)

Enter value: 10
10

In [5]:
#multiple inputs using split()

In [8]:
x,y = input("Enter two values: ").split()
print(x)
print(y)

Enter two values: 10 20
10
20

In [10]:
# .format() method
x,y = input("Enter two values: ").split()
print("First number is {} and second number is {}".format(x,y))

Enter two values: 10 20
First number is 10 and second number is 20

In [11]:
#multiple values and typecasting using list()

In [12]:
x = list(map(int,input("enter values: ").split()))
print(x) #list

enter values: 10 12 14 15
[10, 12, 14, 15]

In [13]:
#multiple inputs using list comprehension

In [15]:
x,y = [int(x) for x in input().split()]
print(x)
print(y)

10 20
10
20

In [16]:
#ouput in Python

In [17]:
#print() function
print("Avengers: Infinity War")

Avengers: Infinity War

In [19]:
x=5
print("x =",x)

x = 5

In [24]:
print('T','S',sep="") #no softspace

TS

In [25]:
print("Tony",end="@") #using end argument
print("Stark")

Tony@Stark

In [26]:
print('09','12','2018',sep='-') #formatting date

09-12-2018

In [28]:
print("Tony","IM",end="@",sep="")
print('Stark')

TonyIM@Stark

In [31]:
#justificaton in string output
name="tony stark"
print(name.center(40,'#'))
print(name.ljust(40,'-'))
print(name.rjust(40,'-'))

###############tony stark###############
tony stark------------------------------
------------------------------tony stark