In [1]:
#Tuples are like list except that TUPLES ARE IMMUTABLE
#tuples are hashables while list are not
#tuple cannot be created with single element, it can be but its tricky!

In [2]:
tup = () #emplty tuple
print(tup)
print(type(tup))

()
<class 'tuple'>

In [3]:
t = ('avengers','end','game')
print(t)

('avengers', 'end', 'game')

In [4]:
l = [1,2,3,4]
print(tuple(l)) #tuple from list

(1, 2, 3, 4)

In [5]:
#tuple using loop
t = ('hi')
for i in range(1,4):
    t = (t,)
print(t)

((('hi',),),)

In [10]:
t = tuple("hi") #built-in function
print(t )

('h', 'i')

In [12]:
t1 = (1,2)
t2 = (3,4)
t3 = (t1,t2) #nested tuple
print(t3)

((1, 2), (3, 4))

In [14]:
t3 = t1+t2 #concat
print(t3)

(1, 2, 3, 4)

In [15]:
t3[0:2] #slicing

(1, 2)

In [16]:
del t3 #deleting